# Base de datos (conexión desde NestJS)
DB_HOST=localhost
DB_PORT=3308
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contraseña
DB_DATABASE=nombre_de_la_base

# JWT
JWT_SECRET=tu_jwt_secreto

# Configuración interna del contenedor MySQL (para docker-compose)
MYSQL_ROOT_PASSWORD=tu_root_password
MYSQL_DATABASE=nombre_de_la_base
MYSQL_USER=usuario_mysql
MYSQL_PASSWORD=contraseña_mysql
MYSQL_PORT=3308
